.thankyou-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    gap: 20px;
    padding: 1rem 0;
    align-items: center;
    text-align: center;

    &__selected-rate {
        color: $orange;
        background: lighten($dark-blue, 5);
        padding: 5px 12px;
        border-radius: 50px;
    }

    &__text {
        h1 {
            color: $white;
            margin-bottom: 0.5rem;
        }

        p {
            color: $light-gray;
        }
    }
}