@import 'config';
@import 'rating';
@import 'thankyou';


body {
    font-family: $font-stack;
    background: $very-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}


.main {
    background: $dark-blue;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    max-width: 340px;
}
    
